<div class="container">
  <div class="card">
    <h4 class="card-header">
      <span><i class="fa fa-comment"></i></span>
      Comments
      <span class="badge badge-primary pull-right">{{comments?.length}}</span></h4>
    <div class="card-body" *ngIf="isValidUser; else register">
      <app-comment-box (usercomment)="receiveComment($event)"></app-comment-box>
      <app-comments [postComment]="comments" (countComments)="recieveCount($event)"></app-comments>
    </div>
    <ng-template #register>
      <div class="card-body">
        <h4>You are not registered.</h4>
      </div>
    </ng-template>
  </div>
</div>