<form class="comment-box-form form-inline" *ngIf="toBeShown" [formGroup]="commentForm" (ngSubmit)="onSubmit()">
    <div class="comment-box">
        <textarea class="form-control" width=100 placeholder="Leave a comment" formControlName="comment" rows="1"
            [ngClass]="{ 'is-invalid': commentForm.controls['comment'].dirty && commentForm.controls['comment']?.errors }">
        </textarea>
        <div class="invalid-feedback" *ngIf="commentForm.controls['comment'].dirty">
            <span *ngIf="commentForm.controls['comment'].errors?.required">Comment is required</span>
            <span *ngIf="commentForm.controls['comment'].errors?.minlength">Comment must be at least 10 characters</span>
            <span *ngIf="commentForm.controls['comment'].errors?.maxlength">Comment must be at most 100 characters</span>
        </div>
    </div>
    <button title="Create Comment" [disabled]="commentForm.invalid" type="submit"
        class="btn btn-primary" aria-label="Create Comment">Comment</button>
</form>